# Ignore unwanted folders
/downloads
/journeymap
/logs
/mods

# Ignore log files
*.log

# Ignore option files from Minecraft and Optifine
options.txt
optionsof.txt
optionsshaders.txt

# Ignore user specific files
usercache.json
usernamecache.json